* {
    --primary-yellow: #ea8501;
    --orange: #d13d00;
    --primary-gray: #3f3932;
    --primary-white: #e4e4e4;

    --size-high-tab: 4rem;
}


*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    font-weight: 600;
}

.head {
    box-sizing: border-box;
}

.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-cone {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.search {
    width: 80%;
    height: 2.5rem;
    margin: .5rem;
    font-size: 1rem;
    text-align: center;
    border: solid 1px var(--primary-yellow);
    border-radius: 25px 25px 25px 25px;
}

.container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tab-empresas {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    height: 99%;
    color: black;
    width: 100%;
    height: 72px;

}

.empresas {
    height: var(--size-high-tab);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 30px;
    background: var(--primary-white);
}

.empresas:hover,
.empresas:active {
    background: white;
}

.empresas a img {
    height: var(--size-high-tab);
    max-width: 100%;
}

.empresas a span {
    line-height: var(--size-high-tab);
    font-size: 30px;
    text-wrap: nowrap;
}

/* ----------------- plataformas ------------------------ */

.body-video{

    width: 100vw;
    min-height: 100dvh;
    display: flex;
    /* align-items: center;
    text-align: center; */
    justify-content: center;
}

.blocos {
    max-width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;

    position: relative;
    display: inline-block;
}

.videos {
    height: 100dvh;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none;
    /* Remove controles no Chrome/Safari */
}

.container-btn {
    display: flex;
    position: absolute;

    position: absolute;
    right: 10px;
    top: 10px;
    gap: 10px;
}

.link-btn-back {
    /* display: none; */
    height: 48px;

}

.link-btn-qr {
    display: flex;
    height: 48px;
    transition: transform 0.3s;
}

.link-btn-qr.active .btn-back img {
    content: url("./assets/closeqr.svg");
    fill: #e4e4e4;
}

.btn-back {
    padding: 12px 20px;
    background: linear-gradient(to bottom, var(--primary-yellow), var(--orange));
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    height: 23px;

}

.btn-back span {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: var(--primary-white);
    justify-content: center;
    text-align: center;
}

.btn-back span svg {
    fill: var(--primary-white);
}

.btn-back svg{
    fill: white;
    width: 24px;
}

#qr-generate{
    border: none;
    outline: none;
}

/* #overlay-qr{
    background-color: #e4e4e4d5;
    position: absolute;
    top: 150px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    padding: 10%;

    display: none;
} */

#overlay-qr {
    background-color: #e4e4e4d5;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    border-radius: 3px;
    text-align: center;
    align-items: center;
    padding: 10%;
    display: none; /* Controle inicial */
}

#overlay-qr span{
    text-wrap: nowrap;
}

.containter-buttons-download{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-inline: 15%;
}

.btn-download{
    color: white;
    text-wrap: nowrap;
}

#qr-generate:hover{
    cursor: pointer;
}